html, body, #root {
  display: block
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1C1C1C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 260px;
  height: auto;
  margin-bottom: -52px;
  margin-top: -69px;
  margin-left: -32px;
  cursor: pointer;
}

img:hover {
  opacity: 0.8
}

h2 {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  
}

.tipoM {
  color: #FFF;
}

.container{
  width: auto;
  background-color:#373839 ;
}

.teclado {
  display: grid;
  grid-gap: 1px;  
  
  grid-template-rows: 75px 90px 90px 90px 90px 90px;
  grid-template-areas: 
    'DIV CSHARP DEL  C  '
    'MUL A7 A8 A9 '
    'SUB A4 A5 A6 '
    'ADD A1 A2 A3 '
    ' IGUAL A10 A11 A12';
  text-align: center;
  grid-areaManu: teclado;
  background-color:#373839 ;
}




.grid-areaManu {
  font-size: 25px;
font-family: sans-serif;
  padding-top: 25px;
  cursor: pointer;
  background: #EA9B3E;
} 
.grid-areaManu:hover {
  background: #EA9B3E;
  color: #FFF;
}

.grid-areaManu-1 {
  grid-area: A1;
  color: #FFF;
  background: #373839;
}
.grid-areaManu-2 {
  grid-area: A2;
  color: #FFF;
  background: #373839;
}
.grid-areaManu-3 {
  grid-area: A3;
  color: #FFF;
  background: #373839;
}
.grid-areaManu-4 {
  grid-area: A4;
  color: #FFF;
  background: #373839;
}
.grid-areaManu-5 {
  grid-area: A5;
  color: #FFF;
  background: #373839;
}
.grid-areaManu-6 {
  grid-area: A6;
  color: #FFF;
  background: #373839;
}
.grid-areaManu-7 {
  grid-area: A7;
  color: #FFF;
  background: #373839;
}
.grid-areaManu-8 {
  grid-area: A8;
  color: #FFF;
  background: #373839;
}
.grid-areaManu-9 {
  grid-area: A9;
  color: #FFF;
  background: #373839;
}

.grid-areaManu-10 {
  grid-area: A10;
  color: #FFF;
  background: #373839;
}
.grid-areaManu-11 {
  grid-area: A11;
  color: #FFF;
  background: #373839;
}
.grid-areaManu-12 {
  grid-area: A12;
  color: #FFF;
  background: #373839;
}

.grid-areaManu-13 {
  grid-area: A13;
  color: #FFF;
  background: #373839;
}
.grid-areaManu-14 {
  grid-area: A14;
  color: #FFF;
  background: #373839;
}
.grid-areaManu-15 {
  grid-area: A15;
  color: #FFF;
  background: #373839;
}

.grid-areaManu-na {
  grid-area: NA;
  color: #FFF;
  background: #373839;
}
.grid-areaManu-0 {
  grid-area: A0;
  color: #FFF;
  background: #373839;
}

.grid-areaManu-igual {  
  color: #FFF;
  
}
.grid-areaManu-csharp {
  color: #FFF;
  
  
}
.grid-areaManu-c {
  
  color: #FFF;
  
}

.grid-areaManu-div {
  
  color: #FFF;

}

.grid-areaManu-del {
  
  color: #FFF;
  
}

.grid-areaManu-mul {
  
  color: #FFF;
  
}

.grid-areaManu-mul2 {
  
  color: #FFF;
  
}
.grid-areaManu-add {
  
  color: #FFF;
  
  
}
.grid-areaManu-sub {
  
  color: #FFF;
  
  
}


.dialogContent {
  padding: 0px !important;
}

.cardNumeroManu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #EA9B3E;
  color: #FFF;
}

.cardNumeroManu p {
  margin: 0;
  padding: 0;
  font-size: 158px;
  background: #EA9B3E;
  color: #FFF;
}

