html, body, #root {
  height: 100%;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color:#373839 ;
}

.container-interno {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-button {
  width: 100%;
  height: 60px;
  text-align: center;
  margin:  15px 0px 15px 0px;
}



.buttonDesen{
  width: 200px;
  height: 60px;
  font-weight: 600;
  background-color: #0C9ABE;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  color: #ffffff;
}


.buttonManu{
  width: 200px;
  height: 60px;
  font-weight: 600;
  background-color: #EA9B3E;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  color: #ffffff;
}


.buttonMelhoria{
  width: 200px;
  height: 60px;
  font-weight: 600;
  background-color: #00B28E;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  color: #ffffff;
}

.logo {
  width: 345px;
  height: auto;
  margin-bottom: -35px;
  margin-top: -224px;
  margin-left: -32px;
}
