.container {
  width: 400px;
  margin: 10px auto;
}

h2 {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  color: #666;
}

.display {
  background: rgb(40, 44, 52);
  color: #61dafb;
  padding: 15px;
  height: 70px;
  font-size: 44px;
  text-align: right;
}

.teclado {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 90px 90px 90px 90px 90px;
  grid-template-areas: 
    'CE C DEL DIV'
    'A7 A8 A9 MUL'
    'A4 A5 A6 SUB'
    'A1 A2 A3 ADD'
    'NA A0 PONTO IGUAL';
  text-align: center;
}

.grid-area {
  font-size: 25px;
  border: 1px solid #f1f1f1;
  padding-top: 25px;
  cursor: pointer;
  background: #e0dfdc;
} 
.grid-area:hover {
  background: #9009A0;
  color: #FFF;
}

.grid-area-1 {
  grid-area: A1;
  background: #FFF;
}
.grid-area-2 {
  grid-area: A2;
  background: #FFF;
}
.grid-area-3 {
  grid-area: A3;
  background: #FFF;
}
.grid-area-4 {
  grid-area: A4;
  background: #FFF;
}
.grid-area-5 {
  grid-area: A5;
  background: #FFF;
}
.grid-area-6 {
  grid-area: A6;
  background: #FFF;
}
.grid-area-7 {
  grid-area: A7;
  background: #FFF;
}
.grid-area-8 {
  grid-area: A8;
  background: #FFF;
}
.grid-area-9 {
  grid-area: A9;
  background: #FFF;
}
.grid-area-na {
  grid-area: NA;
}
.grid-area-0 {
  grid-area: A0;
  background: #FFF;
}
.grid-area-ponto {
  grid-area: PONTO;
}
.grid-area-igual {
  grid-area: IGUAL;
}
.grid-area-ce {
  grid-area: CE;
}
.grid-area-c {
  grid-area: C;
}
.grid-area-del {
  grid-area: DEL;
}
.grid-area-div {
  grid-area: DIV;
}
.grid-area-mul {
  grid-area: MUL;
}
.grid-area-add {
  grid-area: ADD;
}
.grid-area-sub {
  grid-area: SUB;
}