html, body, #root {
  display: block
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 260px;
  height: auto;
  margin-bottom: -52px;
  margin-top: -50px;
  margin-left: -32px;
}

h2 {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  
}

.tipo {
  color: #FFF;
}

.container{
  width: auto;
  
  

}

.tecladoM {
  display: grid;
  grid-gap: 1px;  
  
  grid-template-rows: 75px 90px 90px 90px 90px 90px;
  grid-template-areas: 
    'DIV CSHARP DEL  C  '
    'MUL2 A13 A14 A15 '
    'MUL A7 A8 A9 '
    'SUB A4 A5 A6 '
    'ADD A1 A2 A3 '
    ' IGUAL A10 A11 A12';
  text-align: center;
  grid-areaMelhoria: tecladoM;
  background: #373839;
}




.grid-areaMelhoria {
  font-size: 25px;
font-family: sans-serif;
  padding-top: 25px;
  cursor: pointer;
  background: #00B28E;
} 
.grid-areaMelhoria:hover {
  background: #00B28E;
  color: #FFF;
}

.grid-areaMelhoria-1 {
  grid-area: A1;
  color: #FFF;
  background: #373839;
}
.grid-areaMelhoria-2 {
  grid-area: A2;
  color: #FFF;
  background: #373839;
}
.grid-areaMelhoria-3 {
  grid-area: A3;
  color: #FFF;
  background: #373839;
}
.grid-areaMelhoria-4 {
  grid-area: A4;
  color: #FFF;
  background: #373839;
}
.grid-areaMelhoria-5 {
  grid-area: A5;
  color: #FFF;
  background: #373839;
}
.grid-areaMelhoria-6 {
  grid-area: A6;
  color: #FFF;
  background: #373839;
}
.grid-areaMelhoria-7 {
  grid-area: A7;
  color: #FFF;
  background: #373839;
}
.grid-areaMelhoria-8 {
  grid-area: A8;
  color: #FFF;
  background: #373839;
}
.grid-areaMelhoria-9 {
  grid-area: A9;
  color: #FFF;
  background: #373839;
}

.grid-areaMelhoria-10 {
  grid-area: A10;
  color: #FFF;
  background: #373839;
}
.grid-areaMelhoria-11 {
  grid-area: A11;
  color: #FFF;
  background: #373839;
}
.grid-areaMelhoria-12 {
  grid-area: A12;
  color: #FFF;
  background: #373839;
}

.grid-areaMelhoria-13 {
  grid-area: A13;
  color: #FFF;
  background: #373839;
}
.grid-areaMelhoria-14 {
  grid-area: A14;
  color: #FFF;
  background: #373839;
}
.grid-areaMelhoria-15 {
  grid-area: A15;
  color: #FFF;
  background: #373839;
}

.grid-areaMelhoria-na {
  grid-area: NA;
  color: #FFF;
  background: #373839;
}
.grid-areaMelhoria-0 {
  grid-area: A0;
  color: #FFF;
  background: #373839;
}

.grid-areaMelhoria-igual {  
  color: #FFF;
  
}
.grid-areaMelhoria-csharp {
  color: #FFF;
  
  
}
.grid-areaMelhoria-c {
  
  color: #FFF;
  
}

.grid-areaMelhoria-div {
  
  color: #FFF;

}

.grid-areaMelhoria-del {
  
  color: #FFF;
  
}

.grid-areaMelhoria-mul {
  
  color: #FFF;
  
}

.grid-areaMelhoria-mul2 {
  
  color: #FFF;
  
}
.grid-areaMelhoria-add {
  
  color: #FFF;
  
  
}
.grid-areaMelhoria-sub {
  
  color: #FFF;
  
}


.dialogContent {
  padding: 0px !important;
}

.cardNumeroMelhoria {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #00B28E;
  color: #FFF;
}

.cardNumeroMelhoria p {
  margin: 0;
  padding: 0;
  font-size: 158px;
  background: #00B28E;
  color: #FFF;
}

.MuiDialogContent-root {
  background: #00B28E;
  color: #FFF;
  width: 300px;
  height: 500px;
  font-size: large;
}